.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.button_to button {
  background-color: red;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
}

.new_user,
.edit_user {
  width: 80%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 50px;
}

.actions input {
  width: 100%;
  box-shadow: 5px 5px 5px 1px black;
  border-radius: 0.5rem;
  border: none;
}

.field input:not([type="checkbox"]) {
  width: 100%;
  padding: 5px 10px;
  border-radius: 0.5rem;
  border: none;
}

.alert,
.notice {
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

.notice {
  background-color: green;
}

.alert {
  background-color: red;
}
