.hide {
  display: none;
}

.side-menu {
  position: absolute;
  z-index: 999;
  width: 70%;
  max-width: 20rem;
  left: 0;
  top: 0;
  background: linear-gradient(45deg, rgb(11, 58, 111), rgba(55, 120, 194, 0.7));
  backdrop-filter: blur(10px);
  height: 100vh;
  padding: 20px 20px;
  box-sizing: border-box;
  color: white;
  animation-name: side-menu;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.flex-column {
  flex-direction: column;
  align-items: center;
  display: flex;
  margin-top: 40px;
  gap: 30px;
  height: 80%;
  justify-content: space-between;
}

@keyframes side-menu {
  from {
    transform: translateX(-70%);
  }

  to {
    transform: translateX(0);
  }
}
