@import "font-awesome";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "log_in";

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #2e2f30;
  color: white;
}

a {
  color: beige;
}

#posts-title,
#posts-bar {
  display: flex;
  justify-content: space-between;
}

#posts-bar {
  width: 700px;
}

.users-name {
  color: bisque;
}

.users-container,
.posts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 50px;
}

.users-photos {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
}

.users-container {
  margin-bottom: 30px;
}

.posts-container {
  margin-top: 10px;
}

.users,
.user-container {
  display: flex;
  justify-content: space-between;
}

.users {
  width: 700px;
}

.user-container {
  border: 1px solid white;
  width: 70%;
  padding: 10px 30px;
}

.user-container > p {
  align-self: end;
}

.user-bio,
.posts,
.posts-comments,
.post,
.comments {
  border: 1px solid white;
  padding: 5px 10px 10px 10px;
  width: 680px;
}

.post-title > p {
  text-align: end;
}

.posts-comments > p,
.comments > p,
.comments > form {
  margin-bottom: 10px;
}

.user-bio > p,
.posts > p:first-child {
  margin-bottom: 20px;
  font-weight: bold;
}

.posts > p:last-child {
  text-align: end;
}

.post-title {
  margin-bottom: 20px;
}

button:hover {
  cursor: pointer;
}

.button-posts {
  padding: 10px 30px;
  background-color: orange;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.buttons-forms {
  background-color: transparent;
  border: none;
}

.not-like {
  color: white;
}

.like {
  color: red;
}

.posts-form label {
  font-size: 1.2em;
}

.posts-form {
  width: 50%;
  max-width: 720px;
}

.posts-form-inputs {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
}

.posts-form-inputs:focus {
  background-color: rgba(255, 255, 255, 0.1);
  outline-style: none;
  color: white;
}

.posts-form-inputs::placeholder {
  color: whitesmoke;
  font-style: italic;
}

.posts-form input[type="submit"] {
  background-color: black;
}
