@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import "font-awesome";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "log_in";
@import "side_menu";

* {
  padding: 0;
  margin: 0;
  font-family: 'Hedvig Letters Sans', sans-serif;
}

body {
  background: linear-gradient(45deg, rgb(11, 58, 111), rgba(55, 120, 194, 0.7));
  min-height: 100vh;
  color: white;
}

a {
  color: beige;
}

h1 {
  font-family: 'Ephesis', cursive;
}

#posts-title,
#posts-bar {
  display: flex;
  justify-content: space-between;
}

#posts-title {
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}

#edit-create-post {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

#posts-bar {
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 40rem;
}

#posts-bar > a {
  max-width: 10rem;
}

.users-name {
  color: bisque;
  text-align: end;
}

.users-container,
.posts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.users-photos {
  object-fit: cover;
  width: 100px;
  height: auto;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
  left: 5%;
  z-index: 10;
}

.users-container {
  margin-bottom: 30px;
  padding: 1rem;
}

.posts-container {
  margin-top: 10px;
  width: 100%;
}

.users,
.user-container {
  display: flex;
  justify-content: space-between;
}

.users {
  width: 100%;
  max-width: 30rem;
  justify-content: space-evenly;
}

.user-container {
  flex-direction: column;
  border: 2px solid white;
  width: 70%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  align-items: flex-end;
  position: relative;
  z-index: 1;
  right: 5%;
}

.user-container > p {
  align-self: end;
}

.user-bio,
.posts,
.posts-comments,
.post,
.comments {
  border: 2px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 40rem;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-title > p {
  text-align: end;
}

.posts-comments > p,
.comments > p,
.comments > form {
  margin-bottom: 10px;
}

.user-bio > p,
.posts > p:first-child {
  margin-bottom: 20px;
  font-weight: bold;
}

.posts > p:last-child {
  text-align: end;
}

.post-title {
  margin-bottom: 20px;
}

button:hover {
  cursor: pointer;
}

.button-posts {
  padding: 0.5rem 1rem;
  background-color: orange;
  color: black;
  text-decoration: none;
  border-radius: 0.5rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

button.buttons-forms {
  background-color: transparent;
  border: none;
}

.not-like {
  color: white;
}

.like {
  color: red;
}

.posts-form label {
  font-size: 1.2em;
}

.posts-form {
  max-width: 30rem;
}

.posts-form-inputs {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
}

.posts-form-inputs:focus {
  background-color: rgba(255, 255, 255, 0.1);
  outline-style: none;
  color: white;
}

.posts-form-inputs::placeholder {
  color: whitesmoke;
  font-style: italic;
}

.posts-form input[type="submit"] {
  background-color: black;
}

#comments-form {
  width: 100%;
}

.comment-flex {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
}

.post-flex {
  display: flex;
  justify-content: space-between;
}

button.button-delete,
button.button-like {
  background: none;
  border: none;
  box-shadow: none;
  font-size: 1.3em;
}

.post-comments {
  width: 100%;
  max-width: 40rem;
}
